[Unit]
Description=CDN Module Gaze, a simple way to keep track of users live in the clc.
After=syslog.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/cdn-module-gaze
Environment=NODE_ENV=production
ExecStart=bun run start
Restart=always
RestartSec=10
StartLimitInterval=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target